<h2><%=t ('comment.event_comment') %></h2>

<%= error_messages_for :comment %>

<h3><%=t ('comment.leave_a_comment') %></h3>

<% form_for :comment, :url => event_comments_path(@event),
            :html => { :id => "eventcomment" } do |f| %>
  <div class="form_row">
    <%= f.text_area :body, :rows => 10 %>
  </div>
  
  <div class="form_row">
    <%= submit_tag t('global_submit'), :class => "button" %>
  </div>
<% end %>

