<h1><%=t ('comment.listing_comments') %></h1>

<table>
  <tr>
    <th><%=t ('comment.person') %></th>
    <th><%=t ('comment.blog') %></th>
    <th><%=t ('comment.body') %></th>
    <th><%=t ('comment.type') %></th>
  </tr>

<% for comment in @comments %>
  <tr>
    <td><%=h comment.person_id %></td>
    <td><%=h comment.blog_id %></td>
    <td><%=h comment.body %></td>
    <td><%=h comment.type %></td>
    <td><%= link_to t('global.show'), comment %></td>
    <td><%= link_to t('global.edit'), edit_comment_path(comment) %></td>
    <td><%= link_to t('global.destroy'), comment, :confirm => t('global.are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('comment.new_comment'), new_comment_path %>
