<h2><%=t ('comment.wall_comment') %></h2>

<%= error_messages_for :comment %>

<h3><%=t ('comment.leave_a_comment') %></h3>

<% form_for :comment, :url => person_comments_path(@person) do |f| %>
  <div class="form_row">
    <%= f.text_area :body %>
  </div>
  
  <div class="form_row">
    <%= submit_tag t('global.submit'), :class => "button" %>
  </div>
<% end %>