<%- if @person.recent_activity.empty? -%>
  <h2><%=t ('person.no_recent_activity') %></h2>
<%- else -%>
  <h2><%= t('person.recent_activity', :person => h(@person.name)) %></h2>

  <%- unless @person.last_logged_in_at.nil? or current_person?(@person) -%>
    <p class="meta">
      <%= t('person.last_logged_in', :person => h(@person.name)) %> 
      <%= t('global.ago', :time_ago => time_ago_in_words(@person.last_logged_in_at)) %>
    </p>    
  <%- end -%>
  
  <ul class="list activity">
     <%= render :partial => 'shared/activity',
                :collection => @person.recent_activity,
                :locals => { :destroy => current_person?(@person),
                             :recent => true } %>
  </ul>
<%- end -%>
