<li>
	<a name="post_<%= search_result.id %>"></a>
	<div class="profile-image">
		<%= image_link search_result.person, :image => :thumbnail %>
		<%= image_tag "icons/comment.png", :class => "searchforumicon" %>
	</div>
	<p>
	<%=t ('topic.in_results', :search_summary => link_to(h(search_result.topic.name),
                                   forum_topic_path(search_result.topic.forum,
                                   search_result.topic,
                                   :anchor => "post_#{search_result.id}"))) %>:
	</p>
	<div class="forum">
		<%= display search_result.body %>
	</div>
</li>