<%- column_div :type => :primary do -%>
  <h2><%=t ('group.edit_group') %></h2>
  <div id="profile_edit">

  <% form_for(@group) do |f| %>
    <%= f.error_messages %>

    <div class="form_row">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form_row">
      <label for="description"><%=t ('group.description') %></label>
      <%= f.text_area :description %>
    </div>

    <div class="form_row">
      <label for="mode"><%=t ('group.mode') %></label>
      <%= f.select :mode, get_groups_modes %>
    </div>

    <div class="form_row">
      <%= f.submit t('global.update'), :class => "button" %>
    </div>
  <% end %>

  </div>

<%- end -%>