<%- column_div :type => :primary do -%>
  
  <h2><%=t ('group.invite_your_contacts', :group => @group.name) %></h2>
  
  <% form_for("invitations",:url => { :action => "invite_them"}, 
                    :html => {:id => 'form', :method => "post"}) do -%>
    <ul class="invite_contacts">
      <% @contacts.each do |contact| %>
        <li><%= check_box('checkbox', contact.id.to_s, :class=>'check', :id => "check_#{contact.id}") %> <%= contact.name %></li>
      <% end %>
    </ul>

    <div>
      <input type='submit' id="checkboxall" value='Alle auswählen' class="button" />
      <%= submit_tag t('group.invite'), :class => "button", :id => "button" %></div>
    <div></div>
  <% end %>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>

<script type='text/javascript'>
  $(document).ready(function(){
    $("#checkboxall").click(function(){
      var checked = false;
      if ($("input#checkboxall").attr("value") == "Alle auswählen"){
        $("input#checkboxall").attr("value","Auswahl aufheben");
        var checked = !checked;
      } else {
        $("input#checkboxall").attr("value","Alle auswählen");
      };
      $("input.check").each(function(){
        this.checked = checked;
      });
      return false;
    });
  });
</script>