<%- column_div :type => :primary do -%>
  <h2><%=t ('group.members_for', :group => h(@group.name)) %></h2>
  
  <% if @group.owner?(current_person) and not @pending.empty? -%>
    <h3><%=t ('group.pending_request') %></h3>
    <ul class="grid contacts medium">
      <%- @pending.each do |contact| -%>
        <li class="vcard contact">
          <%= image_link contact, :image_options => { :class => "photo" },
                                  :link_options => { :class => "url" },
                                  :vcard => true,
                                  :image => :bounded_icon %>
          <% if @group.owner?(current_person) %>
            <div class="accept_or_cancel_membership">
                <%= link_to image_tag("icons/remove.gif"), 
                  unsuscribe_membership_path(contact.memberships.find(:first, :conditions => ['group_id = ?',@group])), 
                                             :method => "delete", :title => t('group.cancel_membership'), 
                                             :confirm => t('group.cancel_membership_confirmation') %>
                <%= link_to image_tag("icons/add.gif"), 
                  suscribe_membership_path(contact.memberships.find(:first, :conditions => ['group_id = ?',@group])), 
                                           :method => "post",
                                           :title => t('group.accept_membership') %>
            </div>
          <% end %>
        </li>
      <%- end -%>

    </ul>
  <% end -%>

  <h4><%=t ('group.members') %></h4>

  <% unless @members.empty? -%>
    <ul class="grid contacts medium">
      <%- @members.each do |contact| -%>
        <li class="vcard contact">
          <%= image_link contact, :image_options => { :class => "photo" },
                                  :link_options => { :class => "url" },
                                  :vcard => true,
                                  :image => :bounded_icon %>
          <% if @group.owner?(current_person) %>
            <div class="cancel_membership">
                <%= link_to image_tag("icons/remove.gif"), 
                  unsuscribe_membership_path(contact.memberships.find(:first, :conditions => ['group_id = ?',@group])), 
                                             :method => "delete",
                                             :title => t('group.delete_membership'),
                                             :confirm => t('group.delete_membership_confirmation') %>
            </div>
          <% end %>
        </li>
      <%- end -%>

    </ul>
    <%= will_paginate(@members) %>
  <% else %>
    <h3><%=t ('group.no_members_yet') %></h3>
  <% end -%>

  <h2><%=t ('group.admin') %></h2>
  <ul class="grid contacts medium">
      <%= render :partial => 'shared/contact', :locals => {:contact => @group.owner} %>
  </ul>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
