<div id="profile" style="display: none;">
  <% tabs = TabsRenderer.new(self, :id => "tabCol") %>
  <% tabs.create('tProfile', 'Profile', :class => "profile vcard") do %>
    <%= render :partial => 'profile' %>
    <div class="clear"></div>
  <% end %>
  
  <% tabs.create('tWall', t('group.wall_tab')) do %>
    <%= render :partial => 'wall' %>
    <div class="clear"></div>
  <% end %>

  <% tabs.create('tActivity', t('group.activity_tab')) do %>
    <%= render :partial => 'recent_activity' %>
    <div class="clear"></div>
  <% end %>

  <% tabs.create('tMembers', t('group.members_tab')) do %>
    <%= render :partial => 'profile_members' %>
    <div class="clear"></div>
  <% end %>
  
  <% tabs.create('tBlog', t('group.blog_tab')) do %>
    <%= render :partial => 'shared/blog' %>
    <div class="clear"></div>
  <% end %>
  
  <% tabs.create('tGalleries', t('group.galleries_tab')) do %>
    <%= render :partial => 'shared/galleries' %>
    <div class="clear"></div>
  <% end %>

  <%= tabs.render %>
</div>
<script type='text/javascript'>
  $(document).ready(function() {
    // Set up the tabs.
    $("#tabCol > ul").tabs();
    $("#profile").show();
  })
</script>