<div id="header-wrap">
  <div id="header">
    <h1><%= link_to image_tag("logo.jpg"), home_url, 
                    :title => t('home.homepage') %></h1>
    <ul id="nav">
      <%- menu.each do |link| -%>
        <%= menu_li link %>
      <%- end -%>
    </ul>
    <p class="welcome">
      <%- if logged_in? -%>
        <%= t('home.welcome', :person => h(current_person.name)) %>
        <%= link_to t('session.sign_out'), logout_path %>
        <%- if current_person.admin? -%>
          <br />
          <%- if admin_view? -%>
            <%= link_to t('home.standard_view'), home_path %>
          <%- else -%>
            <%= link_to t('home.admin_view'), admin_preferences_path %>
          <%- end -%>
        <%- end -%>
      <%- else -%>
        <%= link_to t('session.sign_in'), login_path %> <%= t('global.or') %>
        <%= link_to t('person.sign_up'), signup_path %>
        <%- if global_prefs.can_send_email? -%>
        <br />
        <%= link_to t('password_reminder.forgot_password'),
                     new_password_reminder_path %>
        <%- end -%>             
      <%- end -%>
    </p>
  </div>
</div>