<%- column_div :type => :primary do -%>
  <h2><%=t ('person.edit_personal_info') %></h2>

  <%= error_messages_for :personal_details %>

  <% form_for personal_details do |f| -%>

  <div class="form_row">
    <label for="email">
      <%=t ('person.email') %><span class="small">(<%= t('person.never_made_public') %>
      <%= ", " + t('person.will_be_verified') if global_prefs.email_verifications? %>)
      </span>
    </label>
    <%= f.text_field :email, :maxlength => Person::MAX_EMAIL %>
    <%= set_focus_to "person_email" %>  
  </div>

  <div class="form_row">
    <label for="name"><%=t ('person.name') %>
      <span class="small"><%=t ('person.will_be_displayed') %></span></label>
    <%= f.text_field :name, :maxlength => Person::MAX_NAME %>
  </div>

  <div class="form_row">
    <%= submit_tag t('person.sign_up'), :class => "button" %>
  </div>
  <% end %>
<%- end -%>
