<table>
  <tr><th><%=t ('home.discussion_forum %></th></tr>
  <%- @topics.each do |topic| -%>
  <%- last_post = topic.posts.reverse.first -%>
  <tr class=<%= cycle("odd", "even") %>>
    <td>
      <%= topic_link topic %>
      <br />
      <span class="quiet small">
      <%=t ('home.last_post_ago_by'),
            :ago => time_ago_in_words(last_post.created_at),
            :person => person_link last_post.person %>
      </span>
    </td>
  </tr>
  <%- end -%>
</table>

<div class="more">
<%= link_to t('home.go_to_discussion_forum'), forum_path(topic.forum) %>
</div>