<li>
  <div class="profile-image">
    <%= image_link comment.commenter, :image => :thumbnail %>
    <%= image_tag "icons/comment.png", :class => "icon", :alt => "Comment" %>
  </div>
  <p class="meta published">
    <%= t('person.said', :person => person_link(comment.commenter)) %>
    <%= t('global.ago', :time_ago => time_ago_in_words(comment.created_at)) %>
    <%- if (current_person?(comment.commentable.person) or
            current_person?(comment.commenter)) -%>
      <%= link_to image_tag("icons/comment_delete.png", :class => 'actioner'),
                  event_comment_path(@event, comment),
                  :method => :delete,
                  :confirm => t('comment.delete_wall_comment_confirmation'),
                  :title => t('comment.delete_wall_comment') %>
    <%- end -%>
  </p>
  <%= display comment.body %>
  <div class="clear"></div>
</li>
