<%- column_div :type => :primary do -%>
  <h2><%=t ('pref.edit_global_prefs') %></h2>

  <%= error_messages_for :preferences %>

  <% form_for :preferences,
              :url => admin_preference_path(@preferences),
              :html => { :method => :put, :id => 'admin_preferences' } do |f| %>
              
    <div class="form_row">
      <%= f.label :app_name, t('pref.application_name') %>
      <%= f.text_field :app_name %>
    </div>
    
    <div class="form_row">
      <%= f.label :domain, t('pref.email_domain') %>
      <%= f.text_field :domain %>
    </div>

    <div class="form_row">
      <%= f.label :server_name, t('pref.server_name') %>
      <%= f.text_field :server_name %>
    </div>

    <div class="form_row">
      <%= f.label :smtp_server, t('pref.smtp_server') %>
      <%= f.text_field :smtp_server %>
    </div>

    <div class="form_row">
      <%= f.label :email_notifications, t('pref.send_notices'), :class => 'checkbox' %>
      <%= f.check_box :email_notifications %>
    </div>
    <p class="meta"><%=t ('pref.send_notices_meta') %></p>

    <div class="form_row">
      <%= f.label :demo, t('pref.demo_site'), :class => 'checkbox' %>
      <%= f.check_box :demo %>
    </div>
    <p class="meta"><%= t('pref.demo_site_meta') %></p>  

    <br />

    <p><%= t('pref.whitelist_meta') %></p>
    <div class="form_row">
      <label for="whitelist"
             class="checkbox"><%=t ('pref.whitelist') %></label>
      <%= f.check_box :whitelist %>
    </div>

    <br />

    <p>Number of nodes in a hierarchy</p>
    <div class="form_row">
      <label for="domain">Node number</label>
      <%= select "preferences", :node_number, [1,2,3,4,5,6,7] %>
    </div>

    <br />

    <p>Numero de "companias" puede tener cada persona maximo:</p>
    <div class="form_row">
      <label for="domain">Number of companies</label>
      <%= select "preferences", :number_of_companies, [1,2,3,4,5,6,7] %>
    </div>

    <br />

    <p><%= t('pref.verify_email_meta') %></p>
    <div class="form_row">
      <%= f.label :email_verifications, t('pref.verify_email'), :class => 'checkbox' %>
      <%= f.check_box :email_verifications %>
    </div>
    <p class="meta"><%= t('pref.activation_code_meta') %></p>  

    <div class="form_row">
      <%= f.label :about %>
      <br />
      <p><%= formatting_note %></p>
      <%= f.text_area :about, :rows => 10 %>
    </div>
    <p class="meta"><%= t('pref.keep_it_short_meta') %></p>  
    
    <br />

    <div class="form_row">
      <%= f.label :analytics %>
      <br />
      <%= f.text_area :analytics, :rows => 10 %>
    </div>
    <p class="meta"><%= t('pref.analytics_meta') %></p>

    <div class="form_row">
      <%= f.submit t('global.update'), :class => "button" %>
      <%= link_to t('global.cancel'), admin_preferences_path %>
    </div>
  <% end %>
<%- end -%>
