<%- column_div :type => :primary do -%>
<h2><%=t ('pref.global_prefs') %></h2>
<div class="button"><%= link_to t('global.edit'), edit_admin_preference_path(@preferences) %></div>
<div class="prefItem">
  <div class="prefLabel"><%=t ('pref.application_name') %></div>
  <div class="prefValue"><%= h @preferences.app_name %></div>
</div>

<div class="prefItem">
  <div class="prefLabel"><%=t ('pref.email_domain') %></div>
  <div class="prefValue"><%=h @preferences.domain %></div>
</div>

<div class="prefItem">
  <div class="prefLabel"><%=t ('pref.server_name') %></div>
  <div class="prefValue"><%=h @preferences.server_name %></div>
</div>

<div class="prefItem">
  <div class="prefLabel"><%=t ('pref.smtp_server') %></div>
  <div class="prefValue"><%=h @preferences.smtp_server %></div>
</div>

<div class="prefItem">
  <div class="prefLabel"><%=t ('pref.email_notifications') %></div>
  <div class="prefValue"><%=h @preferences.email_notifications %></div>
</div>

<div class="prefItem">
  <div class="prefLabel">Number of nodes in a hierarchy:</div>
  <div class="prefValue"><%=h @preferences.node_number %></div>
</div>

<div class="prefItem">
  <div class="prefLabel">Numero de "companias" puede tener cada persona maximo:</div>
  <div class="prefValue"><%=h @preferences.number_of_companies %></div>
</div>
  
<div class="prefItem">
  <div class="prefLabel"><%=t ('pref.email_verifications') %></div>
  <div class="prefValue"><%=h @preferences.email_verifications %></div>
</div>

<div class="prefItem">
  <div class="prefLabel"><%=t ('pref.demo_site') %></div>
  <div class="prefValue"><%=h @preferences.demo %></div>
</div>

<div class="prefItem">
  <div class="prefLabel"><%=t ('pref.whitelist') %></div>
  <div class="prefValue"><%=h @preferences.whitelist %></div>
</div>

<div class="prefItem">
  <b><%=t ('pref.about_meta') %></b>
  <div class="prefAbout"><%= display @preferences.about %></div>
</div>

<div class="prefItem">
  <b><%=t ('pref.analytics_meta') %></b>
  <%- unless @preferences.analytics.blank? -%>
    <pre><%=h @preferences.analytics %></pre>
  <%- end -%>
</div>
<% end %>
