<%- column_div :type => :primary do -%>
  <%= error_messages_for :photo %>
  <h2><%=t ('photo.update_photo') %></h2>

  <p><%= image_tag(@display_photo.public_filename(:thumbnail)) %></p>

  <% form_for @photo do |f| -%>
    <div class="form_field">
    <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="form_field">
      <%= submit_tag t('global.update'), :class => 'button' %>
      <%= link_to t('global.cancel'), gallery_path(@photo.gallery) %>
    </div>
  <% end -%>
<% end -%>