<li class="post">
  <h3> 
    <a name="post_<%= blog_post.id %>"></a>
    <%= link_to sanitize(blog_post.title),
                blog_post_path(@blog, blog_post),
                :class => "show-follow" %>
    <%- if (@blog.owner.class.to_s == "Person" and current_person?(@blog.owner)) or
    (@blog.owner.class.to_s == "Group" and current_person?(@blog.owner.owner)) -%>
       <%= link_to image_tag("icons/page_white_edit.png",
                            :class => 'actioner'),
                  edit_blog_post_path(@blog, blog_post) %>
      <%= link_to image_tag("icons/page_white_delete.png",
                            :class => 'actioner'),
                  blog_post_path(@blog, blog_post),
                  :method => :delete,
                  :confirm => t('post.delete_post_confirmation') %>
    <%- end -%>
  </h3>
  <%= display blog_post.body %>
  <p class="meta">
    <%=t ('post.posted') %>
    <%= t('global.ago', :time_ago => time_ago_in_words(blog_post.created_at)) %> | 
    <%- n = blog_post.comments.count -%>
    <%= link_to t(:comment, :count => n),
                blog_post_path(@blog, blog_post, :comments => n),
                :class => "show-follow" %>    
  </p>
</li>