<li>
  <p class="meta">
    <%= image_tag "icons/comment.png", :class => "icon", :alt => "Comment" %>
    <%=t ('comment.person_posted_comment', :person => person_link(comment.commenter)) %>
    <%=t ('global.ago', :time_ago => time_ago_in_words(comment.created_at)) %>
  </p>
  <%= display comment.body %>
  <%- if current_person?(comment.commentable.blog.owner) -%>
  <div>
    <%= link_to t('global.delete'), blog_post_comment_path(@blog, @post, comment),
                          :method => :delete %>
  </div>
  <%- end -%>
</li>