<li class="vcard person">
  <%= person_link_with_image person, :class => "url fn" %> &mdash;
  <%- activity = activated_status(person) -%>
  <%= link_to activity, 
              admin_person_path(person, :task => "deactivated"),
              :method => :put %>
  |
  <%- activity = person.admin? ? t('person.demote_from_admin') : t('person.promote_to_admin') -%>
  <%= link_to activity, 
              admin_person_path(person, :task => "admin"),
              :method => :put %>
  <p class="person_meta">
    <strong><%=t ('person.forum_posts') %></strong> 
    <%= person.forum_posts_count -%> | 
    <strong><%=t ('person.blog_posts') %></strong> 
    <%= link_to person.blog.posts.count.to_s, blog_path(person) -%> |
    <strong><%=t ('person.connections') %></strong> 
      <%= link_to person.connections.count,
                  person_connections_path(person) -%>
  </p>
</li>